
/* styles for version 5 */
.main-search-container {
    margin-bottom: 1.5em;
    width: 100%;
}
.main-search-container input[type=submit] {
    width: auto !important;
    height: auto !important;
    background: #099 !important;
    color: #fff !important;
    padding: 10px !important;
    position: relative;
}
.search-form-container {
    margin: auto !important;
    width: auto !important;
    max-width: auto !important;
}
.field-spacer {
    display: block;
}
.field-container {
    background: rgba(0, 0, 0, 1);
    width: auto;
    margin: 0 auto 40px;
    padding: 20px 20px;
    max-width: 800px;
}
.primary-search-box {
    min-height: 390px !important;
}
.primary-search-box .search-form-container {
    max-width: 100% !important;
    padding: 20px 0 !important;
}
.primary-search-box .search-form-container #search-all-collections {
    border-color: #fff;
    width: 100% !important;
    max-width: 690px;
    height: 40px;
    padding-right: .5em;
    padding-left: .5em;
}
.field-container p {
    margin: 0;
    font-size: 0.9em;
}
.fixed-width {
   width: 70px;
}
.field-container label {
    margin-right: 15px;
}
.field-container input[type=text] {
    margin-right: 15px;
    padding: 0.5em;
}
.field-container select {
    width: 100%;
}
.small {
    width: 70px;
}
.medium {
    width: 127px;
}
.large {
    width: 310px;
}
.field-container p {
    display: inline-block;
    float: right !important;
    margin-right: 70px;
}
.field-container p a {
    color: #fce45c;
}
.primary-search-box h1 {
    font-size: 1.3em !important;
}
.field-group {
    margin-bottom: 30px;
}
.field-group label {
    display: block;
    margin-bottom: 3px;
}
.field-sub-group {
    display: inline-block;
}
.half-to-full {
    width: 100%;
}
.home #breadcrumb ul, .home #page-controls ul {
    background: none;
}

@media screen and (min-width: 480px) {
    .field-container {
        padding: 20px 40px;
    }
}
@media screen and (min-width: 768px) {
    .field-group {
        margin-bottom: 0;
    }
    .primary-search-box .search-form-container #search-all-collections {
        width: 84% !important;
    }
    .primary-search-box h1 {
        font-size: 1.5em !important;
    }
    .field-container select {
        width: 76%;
    }
    .field-group label {
        display: inline-block !important;
        margin-bottom: 0;
    }
    .half-to-full {
        display: inline-block;
        width: 49%;
    }
}
@media screen and (min-width: 1024px) {
    .home #page_wrap .search-banner {
        min-height: 400px;
    }
    .field-container {
        background: rgba(0, 0, 0, 0.7);
        width: 70%;
        padding: 40px 70px;
        border-radius: 15px;
    }
}
@media screen and (min-width: 1280px) {
    .field-container {
        width: 60%;
    }
}
